# Project exclude paths
/target/

!/src/main/resources/database.properties
!/src/main/resources/hibernate.properties
!/.gitignore

/src/main/resources/database.properties
/src/main/resources/hibernate.properties
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/*
spring-mvc-app-java-config.iml