<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new person</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Введите имя нового пользователя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Введите возраст нового пользователя</label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="email">Введите email нового пользователя</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <label for="address">Введите address нового пользователя</label>
    <input type="text" th:field="*{address}" id="address"/>
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</div>
    <br/>
    <label for="birthOfDate">Введите дату рождения (dd.mm.yyyy)</label>
    <input type="text" th:field="*{birthOfDate}" id="birthOfDate"/>
    <div style="color:red" th:if="${#fields.hasErrors('birthOfDate')}" th:errors="*{birthOfDate}">birthOfDate error</div>
    <br/>
    <input type="submit" value="создать"/>
</form>

</body>
</html>