<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}">VALUE</title>
</head>
<body>
<a href="/people">На главную страницу</a>
<p th:text="${person.getId()}">VALUE</p>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getAge()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getAddress()}">VALUE</p>
<p th:text="${person.getBirthOfDate()}">VALUE</p>
<p th:text="${person.getCreatedAt()}">VALUE</p>
<p th:text="${person.getMood()}">VALUE</p>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}" >редактировать</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId})}">
    <input type="submit" value="удалить персонажа"/>
</form>

</body>
</html>